<div *ngIf="pokemon; else loading" class="row g-3 justify-content-center">

  <div class="col-lg-4 d-flex justify-content-center align-items-center">
    <img [src]="pokemon.image" class="img-fluid rounded bg-body-secondary" [alt]="pokemon.name">
  </div>

  <div class="col-lg-6">

    <div class="row g-0 mb-3">
      <div
        class="col-lg-12 mb-3 d-flex justify-content-start align-items-center border-bottom border-2 border-primary-subtle">
        <h2 class="me-3">
          {{ pokemon.name | normalize }}
        </h2>
        <h4 class="me-auto">
          <span class="badge text-bg-secondary">{{ pokemon.id | padStart:4:'0' }}</span>
        </h4>
      </div>
      <div class="col-lg-12 mb-3">
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item bg-body-secondary d-flex justify-content-between align-items-center">
            <div class="me-auto fw-medium">
              Experience
            </div>
            <span class="badge text-bg-secondary">{{ pokemon.experience }}</span>
          </li>
          <li class="list-group-item bg-body-secondary d-flex justify-content-between align-items-center">
            <div class="me-auto fw-medium">
              Height
            </div>
            <span class="badge text-bg-secondary">{{ pokemon.height }}</span>
          </li>
          <li class="list-group-item bg-body-secondary d-flex justify-content-between align-items-center">
            <div class="me-auto fw-medium">
              Weight
            </div>
            <span class="badge text-bg-secondary">{{ pokemon.weight }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="row g-0 mb-3">
      <h3 class="col-12 pb-1 border-bottom border-2 border-primary-subtle">Types</h3>
      <h4 *ngFor="let type of pokemon.types" class="col-auto">
        <span class="badge me-1 mb-1" [appType]="type">{{ type | normalize }}</span>
      </h4>
    </div>

    <div class="row g-0">
      <h3 class="col-12 pb-1 border-bottom border-2 border-primary-subtle">Abilities</h3>
      <h4 *ngFor="let ability of pokemon.abilities" class="col-auto">
        <span class="badge text-bg-secondary mb-1 me-1">{{ ability | normalize }}</span>
      </h4>
    </div>

  </div>

  <div class="col-lg-10">
    <div class="row g-0">
      <h3 class="col-12 pb-1 border-bottom border-2 border-primary-subtle">Stats</h3>
      <ng-template ngFor let-stat [ngForOf]="pokemon.stats">
        <div class="col-2 p-2 fw-medium text-end align-self-center">
          {{ stat[0] | normalize }}
        </div>
        <div class="col-10 py-2 align-self-center">
          <div class="progress" role="progressbar" [attr.aria-label]="stat[0]" [attr.aria-valuenow]="stat[1]"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-secondary fw-bold" [style.width]="stat[1] + '%'">
              {{ stat[1] }}
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="col-lg-10">
    <div class="row g-0">
      <h3 class="col-12 pb-1 border-bottom border-2 border-primary-subtle">Evolutions</h3>
      <div class="col-12 pt-2">
        <div class="row g-3 d-flex justify-content-center align-items-center">
          <app-card class="col-4" *ngFor="let evolution of evolutions" [pokemon]="evolution"></app-card>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-10 d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-lg btn-secondary" [routerLink]="['/list']">
      Back To Pokemon List
    </button>
  </div>

</div>

<ng-template #loading>
  Loading
</ng-template>
